*{
    /* tu border toi content */
    padding: 0px;
    /* khoang cach nhung ngoi nha */
    margin: 0px; 
    box-sizing: border-box;
}

.clear{
    clear: both;
}
/* start header */
.header {
    /* tren duoi, trai phai */
    padding: 20px 80px;
    background: #f8e1db;
}

.header ul{
    margin-top: 20px;
}
.header li {
    display: inline;
    margin-right: 20px;
}

.header a{
    text-decoration: none;
    color: #000000;
    font-size: 22px;
}
/* end header */

/* start banner */
.banner{
    background-image: url(./Image/BG.png);
    height: 80vh;
    min-height: 500px;
    /* view height ~ vh */
    background-position: center;
    background-size: cover;
}
/* end banner */

/* start activities */

.activities{
    background: #faf5f1;
    padding: 80px 0px 80px 0px;
    /* top right bottom left */
}
.activities_title{
    color: #8D8D8D;
}
.activities_item{
    width: 25%;
    float: left;
    text-align: center;
    padding: 20px;
}
.item_container{
    background: white;
    padding: 30px;
     /* border-radius phai hoi design de biet bao nhieu px */
    border-radius: 16px;
    /* border: 1px solid red */
}
.item_container img {
    width:100%;
    border-radius: 16px;
}
.activities_title{
    text-align: center;
    
}
.item_img{
    position: relative;
}
.item_img .img_heart{
    border-radius: 8px;
    width: 40px;
    height: 40px;
    background: rgba(255, 255, 255, 0.5);
    /* opacity: 0.5; */
    position:absolute;
    right: 30px;
    top: 30px;
}
.img_heart i{
    color: #e66f4e;
    line-height: 40px;
}
.item_desc p{
    color: #8D8D8D;
}
.item_desc button {
    padding: 10px 50px;
    border-radius: 20px;
    text-transform: capitalize;
    border: none;
    color: #8D8D8D;
    font-weight: bold;
}
.item_desc p{
    margin: 20px 0px;
}
.activities_view-all{
    text-align: center;
    
}
.activities_view-all button{
    padding: 10px 60px;
    border-radius: 20px;
    text-transform: capitalize;
    background: transparent;
    border: 2px solid #e66f4e;
    color: #e66f4e;
    font-weight: bold;
}
/* end activities */

/* start contact */
.contact_container {
    background: #F8E1DB;
    position: relative;
    
}
.contact_img{
    background-image: url(./Image/mask.png);
    background-position: 55%;
    width: 50%;
}
.contact_img img{
    padding: 10px 50px;
}
.contact_content h2{
    color: #8D8D8D;
    position: absolute;
    bottom: 290px;
    left: 850px;

}
.contact_content p{
    color: #8D8D8D;
    position: absolute;
    bottom: 260px;
    left: 850px;
}
.contact_content2 p{
    color: #8D8D8D;
    position: absolute;
    bottom: 240px;
    left: 850px;
}
.contact_content3 {
    color: #8D8D8D;
    position: absolute;
    bottom: 200px;
    left: 850px;
}
.contact_img2{
    position: absolute;
    bottom: 130px;
    left: 850px;
}
.contact_content4 {
    color: #8D8D8D;
    position: absolute;
    bottom: 200px;
    right: 300px;
}
.contact_img3{
    bottom: 150px;
    right: 225px;
    position: absolute;
   
} 
.contact_img3 i{
    color: #e66f4e;
    /* line-height: 40px; */
    padding: 5px;
    font-size: 25px;
}
/* end contact */

/* start footer */
.footer_container{
   
    background: #F8E1DB;
    border-radius: 90px 90px 0 0;
    padding: 80px 40px;
 
   
}
.footer_info1{
    float: left;
    text-align: left;
    width: 40%;
    line-height: 35px;
   
}

.footer_info2{
    float: left;
    width: 20%;
    text-align: left;
    line-height: 35px;
}

.clear{
    clear: both;
}

.footer_content{
   
    text-align: center;
    font-size: 15px;
}

/* end footer */